.tab {
  overflow: hidden;
  background-color: black;
  color:  rgb(255, 55, 55) ;
}
.tab a {
  background-color: inherit;
  float: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: lightblue;
}
.tab a:hover {
  background-color:  rgb(255, 55, 55);
  color: #fff;
  
}
.tab a .activated {
  background-color:  rgb(255, 55, 55);
  color: #fff;
}

@media screen and (min-width: 280px) and (max-width:1000px) {
  .tab {
   
    white-space: nowrap;
    overflow-x: scroll;
}
}

.quantity{
 display: flex;
 justify-content: center;
}
.quantity button{
 width: 45px;
 height: 45px;
 border: 1px solid #000;
 color: #000;
 border-radius: 0;
 background: #fff;
}
.quantity .total-price button{
 width: 45px;
 height: 45px;
 border: 1px solid #000;
 color: #000;
 border-radius: 0;
 background: #fff;
}
.quantity input{
 border: none;
 border-top: 1px solid #000 ;
 border-bottom: 1px solid #000 ;
 text-align: center;
 width: 100px;
 height: 45px;
 font-size: 20px;
 color: #000;
 font-weight: 300;
}
img{
  border-radius: 8px;
}

